<div class="educacion--titulo text-bg-dark m-3 pb-3">
    <h2>Educación</h2>
    <br>
    <div class="row m-2 d-flex justify-content-evenly ">
        <div class="card m-2 col-sm-3 bg-secondary">
            <img src="../../../assets/img/formacion/MindHub.jpg" class="card-img-top mt-1" alt="...">
            <div class="card-body">
                <h3 class="card-title fw-bold">MindHub</h3>
                <h4 class="card-text">2023</h4>
                <h5 class="card-text">Bootcamp Desarrollador Web Front End</h5>
            </div>
        </div>
        <div class="card m-2 col-sm-3 bg-warning">
            <img src="../../../assets/img/formacion/egg.png" class="card-img-top mt-1" alt="...">
            <div class="card-body ">
                <h3 class="card-title fw-bold">Programación desde Cero</h3>
                <h4 class="card-text">2022</h4>
                <h5 class="card-text">Fundamentos de la Programación</h5>
            </div>
        </div>

        <div class="card m-2 col-sm-3 bg-primary">
            <img src="../../../assets/img/formacion/aluraoracle.jpg" class="card-img-top mt-1" alt="...">
            <div class="card-body">
                <h3 class="card-title fw-bold">Alura</h3>
                <h4 class="card-text">2022</h4>
                <h5 class="card-text">Formación en Oracle Cloud Infrastructure</h5>
            </div>
        </div>
        <div class="card m-2 col-sm-3 bg-success">
            <img src="../../../assets/img/formacion/aluraoracle.jpg" class="card-img-top  mt-1" alt="...">
            <div class="card-body">
                <h3 class="card-title fw-bold">Alura</h3>
                <h4 class="card-text">2022</h4>
                <h5 class="card-text">Formación en Python. Data Science en OCI y Oracle Analytics</h5>
            </div>
        </div>
        <div class="card m-2 col-sm-3 bg-danger">
            <img src="../../../assets/img/formacion/aluraoracle.jpg" class="card-img-top mt-1" alt="...">
            <div class="card-body">
                <h3 class="card-title fw-bold">Alura</h3>
                <h4 class="card-text">2022</h4>
                <h5 class="card-text">Formación SQL con MySQL</h5>
            </div>
        </div>
        <div class="card m-2 col-sm-3 bg-dark">
            <img src="../../../assets/img/formacion/aluraoracle.jpg" class="card-img-top mt-1" alt="...">
            <div class="card-body text-bg-dark">
                <h3 class="card-title fw-bold">Alura</h3>
                <h4 class="card-text">2022</h4>
                <h5 class="card-text">Java Orientada a Objetos</h5>
            </div>
        </div>
        <div class="card m-2 col-sm-3 bg-info">
            <img src="../../../assets/img/formacion/aluraoracle.jpg" class="card-img-top mt-1" alt="...">
            <div class="card-body">
                <h3 class="card-title fw-bold">Alura</h3>
                <h4 class="card-text">2022</h4>
                <h5 class="card-text">Hábitos - Productividad - Liderazgo</h5>
            </div>
        </div>
        <div class="card m-2 col-sm-3 bg-warning">
            <img src="../../../assets/img/formacion/aluraoracle.jpg" class="card-img-top mt-1" alt="...">
            <div class="card-body">
                <h3 class="card-title fw-bold">Alura</h3>
                <h4 class="card-text">2022</h4>
                <h5 class="card-text">HTML5 - CSS3</h5>
            </div>
        </div>
        <div class="card m-2 col-sm-3 bg-secondary">
            <img src="../../../assets/img/formacion/aluraoracle.jpg" class="card-img-top  mt-1" alt="...">
            <div class="card-body">
                <h3 class="card-title fw-bold">Alura</h3>
                <h4 class="card-text">2022</h4>
                <h5 class="card-text">Logica de Programación JavaScript - Guit y GuitHub</h5>
            </div>
        </div>
        <div class="card m-2 col-sm-3 bg-primary">
            <img src="../../../assets/img/formacion/aluraoracle.jpg" class="card-img-top  mt-1" alt="...">
            <div class="card-body">
                <h3 class="card-title fw-bold">Alura</h3>
                <h4 class="card-text">2021</h4>
                <h5 class="card-text">Bussiness Agile-Organización de Equipos</h5>
            </div>
        </div>
        <div class="card m-2 col-sm-3 bg-success">
            <img src="../../../assets/img/formacion/conoSurTech.PNG" class="card-img-top mt-1" alt="...">
            <div class="card-body">
                <h3 class="card-title fw-bold">ConoSurTech</h3>
                <h4 class="card-text">2021</h4>
                <h5 class="card-text">Introducción a la Progración</h5>
            </div>
        </div>
        <div class="card m-2 col-sm-3 bg-danger">
            <img src="../../../assets/img/formacion/ARGENTINA-PROGRAMA.jpg" class="card-img-top  mt-1" alt="...">
            <div class="card-body">
                <h3 class="card-title fw-bold">Argentina Programa-Se Programar</h3>
                <h4 class="card-text">2021</h4>
                <h5 class="card-text">Introducción a la Progración</h5>
            </div>
        </div>
    </div>
</div>

