<div class="contenedor bg-success" >
  <div class="header"><app-header></app-header></div>
  <div class="banner"><app-banner></app-banner></div>
  <div class="acerca-de"><app-acerca-de></app-acerca-de></div>
  <div class="experiencia"><app-experiencia></app-experiencia></div>
  <div class="educacion"><app-educacion></app-educacion></div>
  <div class="hys"><app-hard-and-soft></app-hard-and-soft></div>
  <div class="proyectos"> <app-proyectos></app-proyectos></div>
  <div class="footer"><app-footer></app-footer></div>
</div>