<nav class="navbar navbar-expand-md navbar-dark bg-dark d-flex flex-nowrap m-3 mt-0" data-bs-theme="dark">
  <div class="container-fluid">
    <app-logo-ap></app-logo-ap>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="colapse navbar-collapse" id="menu">
    <app-redes></app-redes>
  </div>
  </div>
</nav>
  