.logoAP{
    width: 20rem !important;
    height: auto !important;
}

@media screen and (min-width: 0px) {
    .logoAP{
        width: 8rem !important;
    }
}
/* @media (min-width:361px){
    .logoAP{
        width: 10rem !important;
    }
} */