.logoAP{
    width: 150px;
    height: auto;
}

/* @media screen and (min-width: 0px) {
    .logoAP{
        width: 8rem !important;
    }
} 
@media (min-width:361px){
    .logoAP{
        width: 10rem !important;
    }
} */