<div class="text-bg-dark m-3 p-3">
    <h2>Hard & Soft Skills</h2>

<div class="row  m-3 p-3 pb-3 row-cols-2 row-cols-lg-5 g-2 g-lg-3 d-flex border border-success border-5">
    <div class="col">
        <circle-progress
            [percent]="50"
            [radius]="100"
            [showUnits]="false"
            [title]="'HTML'"
            [titleColor]="'white'"
            [showSubtitle]="false"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#F1DDBF'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
            
    ></circle-progress>
    </div>
    
    <div  class="col">
        <circle-progress
            [percent]="40"
            [radius]="100"
            [showUnits]="false"
            [title]="'CSS'"
            [titleColor]="'white'"
            [showSubtitle]="false"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#F1DDBF'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
    ></circle-progress>
    </div>
    
    <div  class="col"> 
        <circle-progress
            [percent]="30"
            [radius]="100"
            [showUnits]="false"
            [title]="'JavaSCript'"
            [titleColor]="'white'"
            [showSubtitle]="false"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#F1DDBF'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
    ></circle-progress>
    </div>
    
    <div  class="col">
        <circle-progress
            [percent]="30"
            [radius]="100"
            [showUnits]="false"
            [title]="'Angular'"
            [titleColor]="'white'"
            [showSubtitle]="false"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#F1DDBF'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
    ></circle-progress>
    </div>
    <div  class="col">
        <circle-progress
            [percent]="30"
            [radius]="100"
            [showUnits]="false"
            [title]="'Boostrap'"
            [titleColor]="'white'"
            [showSubtitle]="false"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#F1DDBF'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
    ></circle-progress>
    </div>
    <div  class="col">
        <circle-progress
            [percent]="30"
            [radius]="100"
            [showUnits]="false"
            [title]="'Java'"
            [titleColor]="'white'"
            [showSubtitle]="false"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#F1DDBF'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
    ></circle-progress>
    </div>
    <div  class="col">
        <circle-progress
            [percent]="30"
            [radius]="100"
            [showUnits]="false"
            [title]="'MySQL'"
            [titleColor]="'white'"
            [showSubtitle]="false"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#F1DDBF'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
    ></circle-progress>
    </div>
    
</div >
<div class="row text-bg-dark row-cols-2 row-cols-lg-5 g-2 g-lg-3 m-3 p-3 pb-3 d-flex border border-success border-5">
    <div class="col">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [showUnits]="false"
            [title]="'Resiliencia'"
            [titleColor]="'white'"
            [showSubtitle]="false"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#C7E596'"
            [innerStrokeColor]="'#F1DDBF'"
            [animation]="true"
            [animationDuration]="600"
    ></circle-progress>
    </div>
    
    <div class="col">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [showUnits]="false"
            [title]="'Compromiso'"
            [titleColor]="'white'"
            [showSubtitle]="false"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#C7E596'"
            [innerStrokeColor]="'#F1DDBF'"
            [animation]="true"
            [animationDuration]="600"
    ></circle-progress>
    </div>
    
    <div class="col">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [showUnits]="false"
            [title]="'Flexibilidad'"
            [titleColor]="'white'"
            [showSubtitle]="false"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#C7E596'"
            [innerStrokeColor]="'#F1DDBF'"
            [animation]="true"
            [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="col">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [showUnits]="false"
            [title]="'Equipo'"
            [titleColor]="'white'"
            [showSubtitle]="false"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#C7E596'"
            [innerStrokeColor]="'#F1DDBF'"
            [animation]="true"
            [animationDuration]="600"
    ></circle-progress>
    </div>
    
    <div  class="col">
        <circle-progress
            [percent]="80"
            [radius]="100"
            [showUnits]="false"
            [title]="'Creatividad'"
            [titleColor]="'white'"
            [showSubtitle]="false"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#C7E596'"
            [innerStrokeColor]="'#F1DDBF'"
            [animation]="true"
            [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="col">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [showUnits]="false"
            [title]="'Tomar de decisiones'"
            [titleColor]="'white'"
            [showSubtitle]="false"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#C7E596'"
            [innerStrokeColor]="'#F1DDBF'"
            [animation]="true"
            [animationDuration]="600"
    ></circle-progress>
</div>
</div>