<div class="m-3 text-bg-dark">
    <div class="experiencia--titulo">
        <h2>Experiencia</h2>
        <div class="row m-2 d-flex justify-content-evenly">

            <div class="card text-white col-sm-3 bg-primary mb-3">
                <img src="../../../assets/img/empresas/andar.jpg" class="card-img-top opacity-50 mt-1" alt="auto">
                <div class="card-body">
                    <h3 class="card-title">Andar</h3>
                    <h4 class="card-text">Sub-gerente de Atención al Beneficiario</h4>
                    <h5 class="card-text">2001- a la fecha</h5>
                    <p class="card-text">Mi trabajo consiste en coordinar la atención al público de todo el país en forma
                        presencial o telefónica.</p>
                    <p class="card-text">Inovar en nuevas formas de comunicación con los afiliados</p>
                    <p class="card-text">Administrar del padrón de beneficiarios</p>
                    <p class="card-text">Liderar y motivar grupos de trabajo</p>
                </div>
            </div>
            <div class="card text-white col-sm-3 bg-success mb-3">
                <img src="../../../assets/img/empresas/digisoft.png" class="card-img-top opacity-50 mt-1" alt="auto">
                <div class="card-body">
                    <h3>Digisoft</h3>
    
    
    
                    <h4>Administrativa</h4>
                    <h5>1998-2000</h5>
                    <p class="card-text">Atención telefónica de clientes, cobranza, compra de materiales para instalación y
                        secretaria de gerencia</p>
                </div>
            </div>
            <div class="card text-white col-sm-3 bg-danger mb-3">
                <img src="../../../assets/img/empresas/intersoft.png" class="card-img-top opacity-50 mt-1" alt="auto">
                <div class="card-body">
                    <h3>InterSoft</h3>
    
                    <h4>Secretaria</h4>
                    <h5>1994-1997</h5>
                    <p class="card-text">Manejo de agenda de vendedores. Activación de productos. Caja</p>
                </div>
            </div>
        </div>
    </div>

    
</div>