<section class="proyectos-contenedor text-bg-dark m-3">
    <h2 class="proyectos--titulo" id="proyectos">Proyectos</h2>
    <div class="proyectos">
        <img src="../../../assets/img/proyectos/encriptador.PNG" class="proyectos--imagen">
        <div class="proyecto-descripcion">
            <h3 class="proyectos--desarrollo--titulo">Encriptador de Texto</h3>
            <p class="proyectos--desarrollo--descripcion">Creado con HTML, CSS Y JavaScript</p>
            <P class="proyectos--desarrollo--descripcion">2022</P>
            <input type="submit" value="Repositorio" class="proyecto--boton--repositorio">
            <input type="submit" value="Ver Demo" class="proyecto--boton--demo">
        </div>
    </div>

    <div class="proyectos">
        <div class="proyecto-descripcion">
            <h3 class="proyectos--desarrollo--titulo">Juego del Ahorcado</h3>
            <p class="proyectos--desarrollo--descripcion">Creado con HTML, CSS Y JavaScript</p>
            <P class="proyectos--desarrollo--descripcion">2022</P>
            <input type="submit" value="Repositorio" class="proyecto--boton--repositorio">
            <input type="submit" value="Ver Demo" class="proyecto--boton--demo">
        </div>
        
        <img src="../../../assets/img/proyectos/Captura.PNG" class="proyectos--imagen">   
    </div>
</section>
