<div>
    <p class="parrafo">Hola, actualmente estoy trabajando como Sub Gerente de Atención al Beneficiario en la Obra Social Andar. Estoy estudiando distintos lenguajes de programación de Front y Back End</p>
    <p class="parrafo">Soy una persona muy organizada, con una gran motivación. Me gusta trabajar en equipo y por mi experiencia laboral tengo un buen manejo de conflictos, empatía e inventiva.</p>
    <p class="parrafo">Tras años de experiencia, he tomado la decisión de reorientar mi carrera profesional con el ánimo de continuar aprendiendo y, también, aportar toda mi experiencia adquirida.</p>
  
</div>
