.parrafo {
    color:whitesmoke;
    font-size: 2rem;
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 2rem;
}

@media(max-width:768px){
    .parrafo{
        font-size: 1rem;
        padding-left: 0.5rem    ;
    }
    
}