<div class="p-3 m-3">
    <a href="https://github.com/roxana2275"><img src="../../../../assets/img/redes/gitHub.png" class="redes--logo" alt="gitHub"></a>
    <a href="https://www.linkedin.com/feed/?trk=onboarding-landing"><img src="../../../../assets/img/redes/linkedin.png" class="redes--logo" alt="linkedin"></a>
    <a href="https://www.facebook.com/roxana.cicconedogliani/"><img src="../../../../assets/img/redes/Facebook.png" class="redes--logo" alt="facebook"></a>
    <a href="#"><img src="../../../../assets/img/redes/discord.png" class="redes--logo" alt="discord"></a>
</div>
