<section class="proyectos-contenedor m-3 p-3 text-bg-dark m-3">
    <h2 class="proyectos--titulo" id="proyectos">Proyectos</h2>

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="https://github.com/roxana2275/Mighty.git">
            <img src="../../../assets/img/proyectos/avents.png" class="d-block w-100 opacity-50" alt="...">
        </a>
            <div class="carousel-caption d-none d-md-block">
                <h5 class="fs-1">Avents</h5>
                <p class="fs-2">Creado con HTML, CSS Y JavaScript</p>
                <p class="fs-2">2023</p>
            </div>
          </div>
          <div class="carousel-item">
            <a href="https://github.com/roxana2275/Mighty.git">
            <img src="../../../assets/img/proyectos/ducks.png" class="d-block w-100 opacity-50" alt="...">
        </a>
            <div class="carousel-caption d-none d-md-block">
                <h5 class="fs-1">Ducks</h5>
                <p class="fs-2">Creado con HTML y CSS</p>
                <p class="fs-2">2023</p>
                
            </div>
          </div>
          <div class="carousel-item">
            <a href="https://github.com/roxana2275/AluraGeek.git">
            <img src="../../../assets/img/proyectos/AluraGeek.png" class="d-block w-100 opacity-50" alt="...">
        </a>
            <div class="carousel-caption d-none d-md-block">
                <h5 class="fs-1">TiendaAluraGeek</h5>
                <p class="fs-2">Creado con HTML, CSS Y JavaScript</p>
                <p class="fs-2">2022</p>
            </div>
          </div>
          <div class="carousel-item">
            <a href="https://github.com/roxana2275/Roxana-Ciccone">
            <img src="../../../assets/img/proyectos/encriptador.png" class="d-block w-100 opacity-50" alt="...">
        </a>
            <div class="carousel-caption d-none d-md-block">
                <h5 class="fs-1">Encriptador de Texto</h5>
                <p class="fs-2">Creado con HTML, CSS Y JavaScript</p>
                <p class="fs-2">2022</p>
            </div>
          </div>
          <div class="carousel-item">
            <a href="https://github.com/roxana2275/ChallengeTwo.git">
            <img src="../../../assets/img/proyectos/Captura.png" class="d-block w-100 opacity-50" alt="...">
        </a>
            <div class="carousel-caption d-none d-md-block">
                <h5 class="fs-1">Juego del Ahorcado</h5>
                <p class="fs-2">Creado con HTML, CSS Y JavaScript</p>
                <p class="fs-2">2022</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>




    <!-- <div class="proyectos">
        <img src="../../../assets/img/proyectos/avents.png" class="proyectos--imagen">
        <div class="proyecto-descripcion">
            <h3 class="proyectos--desarrollo--titulo">Avents</h3>
            <p class="proyectos--desarrollo--descripcion">Creado con HTML, CSS Y JavaScript</p>
            <P class="proyectos--desarrollo--descripcion">2023</P>
            <a href="https://github.com/roxana2275/4-Pagina2.git">
                <input type="submit" value="Repositorio" class="proyecto--boton--repositorio">
            </a>

        </div>
    </div> -->
    <!-- <div class="proyectos">
        
        <div class="proyecto-descripcion">
            <h3 class="proyectos--desarrollo--titulo">Ducks</h3>
            <p class="proyectos--desarrollo--descripcion">Creado con HTML y CSS</p>
            <P class="proyectos--desarrollo--descripcion">2023</P>
            <a href="https://github.com/roxana2275/Mighty.git">
                <input type="submit" value="Repositorio" class="proyecto--boton--repositorio">
            </a>
        </div>
        <img src="../../../assets/img/proyectos/ducks.png" class="proyectos--imagen">
    </div> -->
    

    <!-- <div class="proyectos">
        <img src="../../../assets/img/proyectos/AluraGeek.png" class="proyectos--imagen">
        <div class="proyecto-descripcion">
            <h3 class="proyectos--desarrollo--titulo">TiendaAluraGeek</h3>
            <p class="proyectos--desarrollo--descripcion">Creado con HTML, CSS Y JavaScript</p>
            <P class="proyectos--desarrollo--descripcion">2022</P>
            <a href="https://github.com/roxana2275/AluraGeek.git">
                <input type="submit" value="Repositorio" class="proyecto--boton--repositorio">
            </a>

        </div>
    </div> -->
    <!-- <div class="proyectos">
        
        <div class="proyecto-descripcion">
            <h3 class="proyectos--desarrollo--titulo">Encriptador de Texto</h3>
            <p class="proyectos--desarrollo--descripcion">Creado con HTML, CSS Y JavaScript</p>
            <P class="proyectos--desarrollo--descripcion">2022</P>
            <a href="https://github.com/roxana2275/Roxana-Ciccone">
                <input type="submit" value="Repositorio" class="proyecto--boton--repositorio">
            </a>

        </div>
        <img src="../../../assets/img/proyectos/encriptador.PNG" class="proyectos--imagen">
    </div> -->

    <!-- <div class="proyectos">
        <img src="../../../assets/img/proyectos/Captura.PNG" class="proyectos--imagen">
        <div class="proyecto-descripcion">
            <h3 class="proyectos--desarrollo--titulo">Juego del Ahorcado</h3>
            <p class="proyectos--desarrollo--descripcion">Creado con HTML, CSS Y JavaScript</p>
            <P class="proyectos--desarrollo--descripcion">2022</P>
            <a href="https://github.com/roxana2275/ChallengeTwo.git">
                <input type="submit" value="Repositorio" class="proyecto--boton--repositorio">
            </a>

        </div>


    </div> -->
</section>