<div class="contenedor--redes p-3 m-3">
    <ul class="navbar-nav me-auto my-2 my-lg-0">
        <li>
            <a class="nav-link active" href="https://github.com/roxana2275"><i class="bi bi-github"></i><span>GitHub</span></a>
        </li>
        <li>
            <a class="nav-link active" href="https://www.linkedin.com/feed/?trk=onboarding-landing"><i class="bi bi-linkedin"></i><span>Linkedin</span></a>
        </li>
        <li>
            <a class="nav-link active" href="https://www.facebook.com/roxana.cicconedogliani/"><i class="bi bi-facebook"></i><span>Facebook</span></a>
        </li>
        <li>
            <a class="nav-link active" href="https://discord.gg/A62rj9jTN2"><i class="bi bi-discord"></i><span>Discord</span></a>
        </li> 
        <li>
            <a class="nav-link active" href="https://wa.me/5491138804108"><i class="bi bi-whatsapp"></i><span>WhatsApp</span></a>
        </li>        
    </ul>

    </div>
